In [7]:
print('Twinkle Twinkle Little Star,')
print('  "How I wonder what you are!"')
print("    Up above the world so high")
print("    Like a diamond in the sky.")
print("'Twinkle Twinkle' Little star")

Twinkle Twinkle Little Star,
  "How I wonder what you are!"
    Up above the world so high
    Like a diamond in the sky.
'Twinkle Twinkle' Little star

In [6]:
txt1="MY name is {fname}"
print(txt1.format(fname='Namrata'))
txt2="I scored {:.0%}"
print(txt2.format(0.86))

MY name is Namrata
I scored 86%